{% extends 'base.html.twig' %}
{% block content %}
    <section class="section bg-gradient" id="home" style="background: linear-gradient(to top, #ffe6ee, #ffe2eb, #ffdee8, #ffdae4, #ffd6e1, #fed2dd, #fecfda, #fdcbd6, #fbc6d1, #fac1cd, #f8bdc8, #f6b8c3); padding-bottom: 10px !important">
    </section>
    <section class="section bg-light" id="pricing" style="padding-bottom: 300px !important;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="title text-center mb-4">
                        <h6 class="text-primary small-title"></h6>
                        <h4>Nos Garderies</h4>
                        <p class="text-muted">Les détails des gardes .</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-xl-4">


                </div><!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">

                {% for garde in gardes %}


                    <div class="col-lg-4">


                            <div class="pricing-plans bg-white text-center p-4 mt-4">
                                <div class="dropdown float-right">


                                </div>


                                <div>


                                    <div class="text-left">
                                        <p class="text-muted font-13"><strong></strong><span class="ml-2"> </span></p>

                                        <h4 class="plan-title mt-2 mb-4">{{ garde.nomGarde}}  </h4></p>

                                        <p class="text-muted font-13"><strong>Les horraires</strong> <span class="ml-2" value=classe1>{{ garde.dureeGarde}}</span></p>


                                    </div>


                                    <div class="pt-4">
                                        <input type="submit" class="btn btn-primary btn-rounded waves-effect waves-light" value="Inscrire">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div> <!-- end col -->
                {% endfor %}

            </div>
        </div>
        <!-- end container-fluid -->

    </section>
{% endblock %}