<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<body style="font-family:Arial Unicode MS, Helvetica , Sans-Serif;">
<table style="table-layout: fixed; width: 100%;">
    <tbody>
    <tr>
        <td class="">
            <div>
                <img src="http://logodesignfx.com/wp-content/uploads/2018/09/dummy-logo-png-4.png" alt="Company Logo"
                     style="max-width: 100%;">
            </div>
        </td>
        <td width="15%">

        </td>
        <td>
            <table class="tbl-padded">
                <caption style="text-transform: uppercase; text-align: left; font-size: 30pt;">
                    <strong>
                        Club
                    </strong>
                </caption>
                <tbody>
                <tr>
                    <td style="padding:5px;">
                        <strong>Invoice No.</strong>
                    </td>
                    <td style="padding:5px;">
                        <div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;">
                        <strong> </strong>
                    </td>
                    <td style="padding:5px;">

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div style="padding-top: 1cm; padding-bottom: 1cm;">
    <table style="table-layout: fixed; width: 100%;">
        <tbody>
        <tr>
            <td>
                <div style="padding-bottom: 10px;">
                    <strong style="text-transform: uppercase;">De</strong>
                </div>
                <div>
                    Kidzy <br>
                    Esprit <br>
                    The Qube, C.T.S. No.1498A/2<br>
                    Village Marol, Andheri (East)
                </div>
            </td>
            <td width="15%">

            </td>
            <td>
                <div style="padding-bottom: 10px;">
                    <strong style="text-transform: uppercase;">à</strong>
                </div>
                <div>
                  <br>
                    A-202, 2nd Floor<br>
                    The Qube, C.T.S. No.1498A/2<br>
                    Village Marol, Andheri (East)
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div>
    <div style="padding-top:1cm; padding-bottom: 1cm;">
        <div>
            <strong>Note</strong>
        </div>
        <p style="font-size: 10pt; line-height: 14pt;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget placerat turpis, in vehicula elit.
            Pellentesque id pharetra ligula, sit amet interdum erat. Integer id lectus pulvinar, maximus urna quis,
            accumsan lacus. Etiam ac quam magna. Fusce ex lectus, pretium id commodo sit amet, egestas mattis lectus.
            Vestibulum id libero fringilla magna tincidunt egestas. Nam lacinia sollicitudin ante sed auctor.
            Suspendisse potenti.
        </p>
    </div>
</div>
</body>

</html>