{% extends 'base.html.twig' %}
{% block content %}
    <section class="section bg-gradient" id="home" style="padding-bottom: 0px !important">
    </section>
    <section class="section bg-light" id="pricing">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="title text-center mb-4">
                        <h4> </h4>
                        <h4 class="text-primary small-title">Mes evenements </h4>

                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                {% for c in event %}

                    <div class="col-lg-4">
                            <div class="pricing-plans bg-white text-center p-4 mt-4">
                                <h5 class="plan-title mt-2 mb-4">{{ c.nomEvent}}</h5>
                                <h5 class="plan-title mt-2 mb-4">{{ club.nomClub}}</h5>






                                <div class="pt-4">
                                    <a  class="btn btn-custom btn-block">Details</a>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}

            </div>
            <div class="title text-center mb-4">

                <h5>      </h5>

            </div>

            <!-- end row -->
        </div>

        <!-- end container-fluid -->
    </section>

{% endblock %}