{% extends 'baseadmin.html.twig' %}
{% block sidemenu %}
    <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">

            <li class="menu-title">Navigation</li>

            <li>
                <a href="{{ path('Maitresse_homepage') }}">
                    <i class="mdi mdi-view-dashboard"></i>
                    <span> Dashboard </span>
                </a>
            </li>

            <li>
                <a>
                    <span> reclamation </span>
                </a>
            </li>

            <li>
                <a>
                    <span>hottou li thebou</span>
                </a>
            </li>
            <li>
                <a >
                    <span> badlou l menu 3la kifkom </span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}